In [2]:
# import libraries
import pandas as pd
import numpy as np
import sqlite3

In [3]:
#import data from the cleaned CSV files
movieGross = pd.read_csv('cleanedData/movieGrossClean.csv')
movieBudgets = pd.read_csv('cleanedData/movieBudgets.csv')
movieInfo = pd.read_csv('cleanedData/movieInfoClean.csv')
reviews = pd.read_csv('cleanedData/reviewsClean.csv')
tmdbMovies = pd.read_csv('cleanedData/tmdbMoviesClean.csv')

In [4]:
# Connect to sql database
conn = sqlite3.connect('data/im.db')

In [5]:
movieGross.head()

,Unnamed: 0,title,studio,domestic_gross,foreign_gross,year
0,0,Toy Story 3,BV,415000000,652000000,2010-01-01
1,1,Alice in Wonderland (2010),BV,334200000,691300000,2010-01-01
2,2,Harry Potter and the Deathly Hallows Part 1,WB,296000000,664300000,2010-01-01
3,3,Inception,WB,292600000,535700000,2010-01-01
4,4,Shrek Forever After,P/DW,238700000,513900000,2010-01-01